<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OrderListTest</title>
  <style>
      .topLevelContainer {
          margin: 12px;
          padding: 12px;
      }

      .dishCardContainer {
          padding: 32px;
          background-color: #062c33;
          display: flex;
          overflow: scroll;
      }

      .dishCard {
          padding: 32px;
          background-color: #6c757d;
          margin: 4px;
          display: inline-block;
      }
  </style>
</head>
<body>
<div class="topLevelContainer">

  <table>
    <tbody>
    <tr>
      <td>kal</td>
      <td>govno</td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="dishCardContainer">
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
          <div class="dishCard">
            DishCard
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>